---
import { SITE_TITLE } from "../consts";
import BasePage from "../layouts/BasePage.astro";
import ContactEmailCispa from "../components/ContactEmailCispa.astro";
import ContactEmailPersonal from "../components/ContactEmailPersonal.astro";
import ContactSignal from "../components/ContactSignal.astro";

let title = "About";
---

<BasePage title=`${title} | ${SITE_TITLE}`>
  <h1 class="text-3xl font-extrabold">{title}</h1>
  <div id="about" class="mt-8 *:mb-2">
    <h2 class="text-2xl font-bold">About Me</h2>
    <p>
      In December 2023, I earned a Bachelor's in Computer Engineering with the
      Highest Distinction from Purdue University. There, I worked on
      software-supply-chain security projects under the guidance of
      <a class="underline hover:decoration-2" href="https://badhomb.re/"
        >Santiago Torres-Arias</a
      > and was also, at one point, the President of
      <a
        class="underline hover:decoration-2"
        href="https://engineering.purdue.edu/AMP/"
        >Autonomous Motorsports Purdue</a
      >.
    </p>
    <p>
      Prior to rejoining academia, I was a software engineer at <a
        class="underline hover:decoration-2"
        href="https://www.keytos.io/">Keytos</a
      >, a startup offering various in-house PKI-as-a-Service products, where I
      built EZRADIUS, EZCMS, and maintained other services. I have also
      previously interned at Google on two occasions during my studies at
      Purdue.
    </p>
    <p>My CV is available upon request.</p>
  </div>
  <div id="contact" class="mt-6 *:mb-2">
    <h2 class="text-2xl font-bold">Contact Me</h2>
    <p>You can contact me via the methods below, in order of preference:</p>
    <ul class="list-inside list-disc">
      <li><i>email</i>: <ContactEmailCispa /></li>
      <li><i>email</i>: <ContactEmailPersonal /></li>
      <li><i>signal</i>: <ContactSignal /></li>
    </ul>
  </div>
  <div id="follow" class="mt-6 *:mb-2">
    <h2 class="text-2xl font-bold">Follow Me</h2>
    <p>
      You can see my random thoughts and projects in the socials linked in the
      footer below!
    </p>
  </div>
</BasePage>
