---
import BasePage from "../layouts/BasePage.astro";
import { Image } from "astro:assets";
import alanImage from "../assets/alan.jpeg";
---

<BasePage>
  <Image
    class="shadow-theme-primary dark:shadow-theme-dark-primary mx-auto mb-8 w-2xs rounded-xl object-contain shadow-lg md:float-right md:m-6"
    src={alanImage}
    alt="Picture of Alan by marble railing in the NY Public Library."
  />
  <h2 class="pb-4 text-2xl font-bold">Howdy!</h2>
  <p class="mb-8 text-lg">
    I am a Master's student at Saarland University under the support of
    <a
      class="underline hover:decoration-2"
      href="https://cispa.de/en/career/excellence-program"
      >CISPA's Excellence Program for Master's Students</a
    >, through which I am co-advised by
    <a class="underline hover:decoration-2" href="https://wouterlueks.nl/"
      >Wouter Lueks</a
    > and
    <a class="underline hover:decoration-2" href="https://ssasy.github.io/"
      >Sajin Sasy</a
    >. I plan to continue my studies at CISPA and work towards a PhD.
    <br class="mb-4" />
    I am passionate about computer security and privacy. I seek to develop techniques
    and build practical solutions to problems that require better security and privacy
    guarantees where existing solutions do not suffice.
    <br class="mb-4" />
    In December 2023, I earned a degree in Computer Engineering with the Highest
    Distinction from Purdue University. There, I worked on software-supply-chain
    security projects under the guidance of
    <a class="underline hover:decoration-2" href="https://badhomb.re/"
      >Santiago Torres-Arias</a
    > and was also, at one point, the President of
    <a
      class="underline hover:decoration-2"
      href="https://engineering.purdue.edu/AMP/"
      >Autonomous Motorsports Purdue</a
    >.
    <br class="mb-4" />
    Prior to rejoining academia, I was a software engineer at <a
      class="underline hover:decoration-2"
      href="https://www.keytos.io/">Keytos</a
    >, a startup offering various in-house PKI-as-a-Service products, where I
    built EZRADIUS, EZCMS, and maintained other various services. I have also
    previously interned twice at Google during my studies at Purdue.
    <br class="mb-4" />
    Feel free to reach out if you'd like to collaborate or connect!
    <br class="mb-4" />
    You can reach me via email at
    <a class="underline hover:decoration-2" href="mailto:alan@chung-ma.com"
      >alan@chung-ma.com</a
    >
    or Signal at
    <a
      class="underline hover:decoration-2"
      href="https://signal.me/#eu/oI2p3uZybRA7KGzhakxpgPNrJSh9Zvidc7eZFfbHbKRQ4Bcm6wFMbYn5npM1deI1"
      >alancm.92</a
    >.
  </p>
</BasePage>
