---
import IndexPage from "../layouts/IndexPage.astro";
import ContactEmail from "../components/ContactEmail.astro";
import ContactSignal from "../components/ContactSignal.astro";
---

<IndexPage>
  <h1 class="text-2xl font-bold">Howdy!</h1>
  <p>
    I am a Master's student at Saarland University under the support of
    <a
      class="underline hover:decoration-2"
      href="https://cispa.de/en/career/excellence-program"
      >CISPA's Excellence Program for Master's Students</a
    > co-advised by
    <a class="underline hover:decoration-2" href="https://wouterlueks.nl/"
      >Wouter Lueks</a
    > and
    <a class="underline hover:decoration-2" href="https://ssasy.github.io/"
      >Sajin Sasy</a
    >. I plan to stay at CISPA later on as a PhD candidate.
  </p><p>
    I seek to develop new techniques and build practical solutions to problems
    that require security and privacy guarantees where existing solutions do not
    suffice.
  </p><p>
    Feel free to reach out if you'd like to collaborate or connect! You can
    reach me via email at <ContactEmail /> or Signal at
    <ContactSignal />.
  </p>
  <hr />
  <h1 class="text-2xl font-bold">About me</h1>
  <p>
    In December 2023, I earned a Bachelor's in Computer Engineering with the
    Highest Distinction from Purdue University. There, I worked on
    software-supply-chain security projects under the guidance of
    <a class="underline hover:decoration-2" href="https://badhomb.re/"
      >Santiago Torres-Arias</a
    > and was also, at one point, the President of
    <a
      class="underline hover:decoration-2"
      href="https://engineering.purdue.edu/AMP/"
      >Autonomous Motorsports Purdue</a
    >.
  </p><p>
    Prior to rejoining academia, I was a software engineer at <a
      class="underline hover:decoration-2"
      href="https://www.keytos.io/">Keytos</a
    >, a startup offering various in-house PKI-as-a-Service products, where I
    built EZRADIUS, EZCMS, and maintained other services. I have also previously
    interned at Google on two occasions during my studies at Purdue.
  </p>
</IndexPage>
