---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout title="Alan Chung Ma" description="Home page for Alan Chung Ma.">
  <div
    class="m-6 grid grid-cols-1 gap-2 sm:mx-16 sm:my-12 md:mx-auto md:max-w-7xl md:grid-cols-2 md:px-5 lg:my-20 xl:gap-10"
  >
    <div class="px-10 pt-10 md:hidden">
      <img class="rounded-2xl object-scale-down" src="/profile-square.jpg" />
    </div>
    <div class="flex flex-col justify-center">
      <h1 class="my-8 text-4xl font-black sm:mx-12 sm:text-5xl lg:mx-16">
        Hi There!
      </h1>
      <p class="lg:mx-18 mb-2 text-lg sm:mx-8 sm:text-xl">
        My name is Alan, and I am a software engineer at Keytos working on PKI.
      </p>
      <p class="lg:mx-18 my-2 text-lg sm:mx-8 sm:text-xl">
        I am passionate about security. I occasionally contribute to various
        software supply chain security projects and seek to continuously learn
        about the latest techniques and technologies.
      </p>
      <p class="lg:mx-18 my-2 text-lg sm:mx-8 sm:text-xl">
        I graduated with a degree in Computer Engineering with the Highest Distinction
        from Purdue University in December 2023. At Purdue, I was part of the
        <a 
          class="text-blue-700 no-underline hover:text-blue-800 hover:underline"
          href="https://github.com/TSELab"
        >Trustworthy Software Ecosystems Lab</a> and 
        <a 
          class="text-blue-700 no-underline hover:text-blue-800 hover:underline"
          href="https://engineering.purdue.edu/AMP/"
        >Autonomous Motorsports Purdue.</a>
      </p>
      <p class="lg:mx-18 my-2 text-lg sm:mx-8 sm:text-xl">
        I love to learn and consistently seek to improve myself as a person and
        engineer!
      </p>
    </div>
    <div class="hidden h-full content-center object-scale-down md:flex">
      <img class="rounded-2xl object-contain" src="/profile-vertical.jpg" />
    </div>
  </div>

  <!-- Experience -->
  <div class="flex flex-col bg-neutral-600 text-neutral-100 md:flex-row">
    <div class="max-w-fit md:w-2/5">
      <img class="object-cover md:h-full" src="/pics.jpg" />
    </div>
    <div
      class="mx-6 py-6 sm:px-16 sm:py-12 md:mr-auto md:max-w-4xl md:grid-cols-2 md:pl-20 lg:py-20 lg:pl-28"
    >
      <p class="mt-6 text-lg sm:text-xl">
        I worked under <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://badhomb.re/">Prof. Santiago Torres-Arias</a
        > on several research projects related to software supply chain security.
        Namely, I contributed to the <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://in-toto.io/">in-toto</a
        > project (and still do!!) and have previously worked on some <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://www.sigstore.dev/">sigstore</a
        > and <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://theupdateframework.io/">TUF</a
        > bits. I was also involved in a new project called <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://sbomit.dev/">SBOMit</a
        >.
      </p>
      <p class="mt-6 text-lg sm:text-xl">
        I was the Co-President of <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://github.com/Autonomous-Motorsports-Purdue/"
          >Autonomous Motorsports Purdue</a
        >. I led and mentored a team of undergraduate students to build an
        autonomous kart. In Spring 2023, the club hosted the inaugural race for
        the <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://autonomouskartingseries.com/"
          >Autonomous Karting Series</a
        > at the Purdue Grand Prix Track and placed 2nd!
      </p>
      <p class="mt-6 text-lg sm:text-xl">
        I hail from Mexico, and my favorite food is tacos de lengua. I love to
        meet new people and unapologetically enjoy going out. When I am not
        reading or coding, I love to cook and bake in my free time (which I very
        much picked up from my mom). I have also taken up <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://www.instagram.com/alancm.pics/">photography</a
        > as a hobby.
      </p>
      <p class="mt-6 text-lg sm:text-xl">
        I am also a passionate <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://purduesports.com/sports/2018/5/17/trads-what-is-boilermaker-html"
          >Boilermaker</a
        >, where my <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://purduesports.com/">boilermakers</a
        > have been breaking my heart since 2020, although 2024 wasn't too bad!
      </p>
    </div>
  </div>
</BaseLayout>
