---
import BasePage from "../layouts/BasePage.astro";
import { Image } from "astro:assets";
import alanImage from "../assets/alan.jpeg";
---

<BasePage>
  <Image
    class="shadow-theme-primary dark:shadow-theme-dark-primary mx-auto mb-8 w-md rounded-xl object-contain shadow-lg"
    src={alanImage}
    alt="Picture of Alan by marble railing in the NY Public Library."
  />
  <h2 class="pb-4 text-xl font-semibold">Howdy!</h2>
  <p class="pb-4 text-lg">
    My name is Alan, and I am currently working on various PKI services at
    Keytos.
  </p>
  <p class="pb-4 text-lg">
    I am passionate about computer security and privacy. I have previously
    contributed to software-supply-chain security (SSCS) projects and am
    currently learning about novel privacy-enhancing technologies.
  </p>
  <p class="pb-4 text-lg">
    In December 2023, I obtained a degree in Computer Engineering with the
    Highest Distinction from Purdue University. At Purdue, I worked on SSCS
    under Prof. Santiago Torres-Arias and was also, at one point, the President
    of Autonomous Motorsports Purdue.
  </p>
  <p class="pb-4 text-lg">
    Starting in the Fall of 2025, I will work towards a PhD at CISPA under the
    guidance of Wouter Lueks and Sajin Sasy, beginning with a Master's at
    Saarland University.
  </p>
  <p class="pb-4 text-lg">
    Feel free to reach out if you'd like to collaborate or connect!
  </p>
  <p class="pb-4 text-lg">
    You can reach me via email at
    <a class="underline hover:decoration-2" href="mailto:alan@chung-ma.com"
      >alan@chung-ma.com</a
    >
    or Signal at
    <a
      class="underline hover:decoration-2"
      href="https://signal.me/#eu/oI2p3uZybRA7KGzhakxpgPNrJSh9Zvidc7eZFfbHbKRQ4Bcm6wFMbYn5npM1deI1"
      >alancm.92</a
    >. I don't really use LinkedIn, so just reach out to me via old fashioned
    mediums!
  </p>
</BasePage>
