---
import IndexPage from "../layouts/IndexPage.astro";
import ContactEmailCispa from "../components/ContactEmailCispa.astro";
---

<IndexPage>
  <h1 class="text-2xl font-bold">Howdy!</h1>
  <p>
    I am a Master's student at Saarland University under the support of
    <a
      class="underline hover:decoration-2"
      href="https://cispa.de/en/career/excellence-program"
      >CISPA's Excellence Program for Master's Students</a
    > co-advised by
    <a class="underline hover:decoration-2" href="https://wouterlueks.nl/"
      >Wouter Lueks</a
    > and
    <a class="underline hover:decoration-2" href="https://ssasy.github.io/"
      >Sajin Sasy</a
    >. I plan to stay at CISPA to pursue a PhD.
  </p><p>
    I seek to develop practical solutions to problems that require better
    security and privacy guarantees where existing solutions do not suffice.
  </p><p>
    Feel free to reach out if you'd like to collaborate or connect! You can
    reach me via email at <ContactEmailCispa />.
  </p>
</IndexPage>
