---
import { PROJECTS_DESCRIPTION, PROJECTS_TITLE } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/global.css'
---

<BaseLayout title={PROJECTS_TITLE} description={PROJECTS_DESCRIPTION}>
  <p>Projects</p>
  <p>
    This page is still WIP, but you can see what I have been doing on <a
      class="blue-link"
      href="https://github.com/alanssitis">GitHub</a
    >.
  </p>
  <p>
    PS. I often do basic prototyping on a local machine and never upload it, but
    I try to put some of the more interesting stuff on my GH!
  </p>
</BaseLayout>
