---
import { PROJECTS_DESCRIPTION, PROJECTS_TITLE } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={PROJECTS_TITLE} description={PROJECTS_DESCRIPTION}>
  <p>projects</p>
</BaseLayout>
