---
import BasePage from "../layouts/BasePage.astro";
---

<BasePage>
  <h1 class="text-3xl font-extrabold">Service</h1>
  <p class="pt-4 text-lg">I have yet to slave for the peer review system :)</p>
</BasePage>
