---
import BasePage from "../layouts/BasePage.astro";
---

<BasePage>
  <h1 class="text-3xl font-extrabold">Talks</h1>
  <p class="pt-4 text-lg">
    I have some talks out there, not happy with them enough to put them here :P
  </p>
</BasePage>
