---
import ExternalIconLinks from "./ExternalIconLinks.astro";

const today = new Date();

let rightsReservedText = "All rights reserved";
switch (Astro.currentLocale) {
  case "es":
    rightsReservedText = "Todos los derechos reservados";
    break;
}
---

<footer
  class="dark:border-theme-dark-text/15 border-theme-text/15 border-t pt-10 pb-12 md:pb-24"
>
  <div class="px-2 md:mx-auto md:w-3xl">
    <h4 class="mb-8 text-center">
      &copy; {today.getFullYear()} Alan Chung Ma. {rightsReservedText}.
    </h4>
    <ExternalIconLinks class="justify-center" />
  </div>
</footer>
