<footer class="bg-gray-200">
  <div class="mx-16 sm:mx-30 lg:mx-44 py-10 sm:py-14 lg:py-16">
    <p>Alan Chung Ma</p>
    <p>
      Built in <a href="https://astro.js.org/">Astro</a>, hosted on <a
        href="https://vercel.com/">Vercel</a
      >.
    </p>
  </div>
</footer>
