---
import ExternalIconLinks from "./ExternalIconLinks.astro";

const today = new Date();
---

<footer
  class="dark:border-theme-dark-text/15 border-theme-text/15 border-t-1 pt-10 pb-12 md:pb-24"
>
  <div class="px-2 md:mx-auto md:w-3xl">
    <h4 class="mb-8 text-center">
      &copy; {today.getFullYear()} Alan Chung Ma. All rights reserved.
    </h4>
    <ExternalIconLinks class="justify-center" />
  </div>
</footer>
