---
import "../styles/global.css";
---

<footer class="bg-neutral-200">
  <div class="mx-16 sm:mx-30 lg:mx-44 py-10 sm:py-14 lg:py-16">
    <p>Alan Chung Ma</p>
    <p>
      Built in <a class="blue-link" href="https://astro.build/">Astro</a>,
      hosted on <a href="https://vercel.com/">Vercel</a>. Source code <a
        class="blue-link"
        href="https://github.com/alanssitis/website/">here</a
      >.
    </p>
    <p>
      Connect with me on <a
        class="blue-link"
        href="https://www.linkedin.com/in/alan-chung-ma/">LinkedIn</a
      >.
    </p>
  </div>
</footer>
