<footer class="bg-gray-200">
  <div class="mx-44 py-16">
    <p>Alan Chung Ma</p>
    <p>
      Built in <a href="https://astro.js.org/">Astro</a>, hosted on <a
        href="https://vercel.com/">Vercel</a
      >.
    </p>
  </div>
</footer>
