---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  class:list={[
    className,
    "decoration-theme-accent dark:decoration-theme-dark-accent hover:text-shadow-theme-primary/30 dark:hover:text-shadow-theme-dark-primary/30 inline-block text-lg font-semibold decoration-4 transition-shadow hover:text-shadow-lg",
    { "font-bold underline": isActive },
  ]}
  href={href}
  {...props}
>
  <slot />
</a>
