---
import { SITE_TITLE } from "../config";
---

<header>
  <h2>{SITE_TITLE}</h2>
  <nav>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
  </nav>
</header>
