---
import HeaderLink from "./HeaderLink.astro";
import ExternalIconLinks from "./ExternalIconLinks.astro";
import { SITE_TITLE } from "../consts";
---

<header
  class="dark:border-theme-dark-text/15 border-theme-text/15 border-b-1 py-3"
>
  <nav
    class="flex flex-col content-center justify-between px-2 md:mx-auto md:w-3xl md:flex-row"
  >
    <div class="flex-1 md:my-auto">
      <a
        class="hover:text-shadow-theme-accent/20 dark:hover:text-shadow-theme-dark-accent/75 my-auto text-lg font-extrabold hover:text-shadow-lg"
        href="/">{SITE_TITLE}</a
      >
    </div>
    <div class="my-6 flex flex-col gap-4 md:my-auto md:flex-row">
      <HeaderLink href="/">Home</HeaderLink>
      <!-- <HeaderLink href="/publications">Publications</HeaderLink> -->
      <HeaderLink href="/talks">Talks</HeaderLink>
      <HeaderLink href="/service">Service</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <ExternalIconLinks class="my-2 flex-1 md:my-auto md:justify-end" />
  </nav>
</header>
