---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="bg-neutral-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button
            type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-neutral-400 hover:bg-neutral-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            id="toggle-menu"
            aria-controls="mobile-menu"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="h-6 w-6 block"
              id="menu-button-open"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
            <svg
              class="h-6 w-6 hidden"
              id="menu-button-close"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div
          class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
        >
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <HeaderLink href="/" class="">Home</HeaderLink>
              <HeaderLink href="/blog">Blog</HeaderLink>
              <HeaderLink href="/projects">Projects</HeaderLink>
            </div>
          </div>
        </div>
        <!-- RHS of navbar -->
      </div>
    </div>
    <div class="sm:hidden hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3">
        <HeaderLink href="/" class="block text-base">Home</HeaderLink>
        <HeaderLink href="/blog" class="block text-base">Blog</HeaderLink>
        <HeaderLink href="/projects" class="block text-base"
          >Projects</HeaderLink
        >
      </div>
    </div>
  </nav>
</header>

<script>
  let showMenu = false;

  function toggleMenu(ev: MouseEvent) {
    console.log("testy");
    let menu = document.getElementById("mobile-menu");
    let open = document.getElementById("menu-button-open");
    let close = document.getElementById("menu-button-close");
    if (menu && open && close) {
      if (showMenu) {
        menu.setAttribute("style", "display:none");
        open.setAttribute("style", "display:block");
        close.setAttribute("style", "display:none");
      } else {
        menu.setAttribute("style", "display:block");
        open.setAttribute("style", "display:none");
        close.setAttribute("style", "display:block");
      }
    }
    showMenu = !showMenu;
  }

  let el = document.getElementById("toggle-menu");
  if (el) {
    el.addEventListener("click", toggleMenu);
  }
</script>
