---
export interface Props {
  title: string;
  description: string;
  url: string;
}

const { pubDate, title, description, url } = Astro.props;
---

<a
  href={url}
  class="my-10 block rounded-xl border-2 px-8 py-4 hover:border-neutral-300 hover:bg-neutral-50 sm:mx-12 sm:px-16 sm:py-6 lg:mx-48"
>
  <h2 class="text-xl font-semibold sm:text-2xl">{title}</h2>
  <p class="pt-2 text-lg sm:text-xl">{description}</p>
</a>
