---
import IndexPage from "../../layouts/IndexPage.astro";
import ContactEmail from "../../components/ContactEmail.astro";
import ContactSignal from "../../components/ContactSignal.astro";
---

<IndexPage>
  <h1 class="text-2xl font-bold">¡Buenas!</h1>
  <p>
    Soy estudiante de maestría en la Universidad del Sarre, con el apoyo del
    <a
      class="underline hover:decoration-2"
      href="https://cispa.de/en/career/excellence-program"
      >Programa de Excelencia para Estudiantes de Maestría de CISPA</a
    >, codirigido por
    <a class="underline hover:decoration-2" href="https://wouterlueks.nl/"
      >Wouter Lueks</a
    > y
    <a class="underline hover:decoration-2" href="https://ssasy.github.io/"
      >Sajin Sasy</a
    >. Planeo continuar como candidato de PhD en CISPA.
  </p><p>
    Busco desarrollar técnicas nuevas y crear soluciones prácticas para
    problemas que requieren garantías de seguridad y privacidad donde aún no
    existen soluciones suficientes.
  </p><p>
    ¡No dudes en contactarme si deseas colaborar o conectar! Puedes contactarme
    por email a <ContactEmail /> o Signal a <ContactSignal />.
  </p>
  <hr />
  <h1 class="text-2xl font-bold">Acerca de mí</h1>
  <p>
    En diciembre de 2023, me gradué con los más altos honores en la Licenciatura
    en Ingeniería Informatica en la Universidad de Purdue. Allí, trabajé en
    proyectos de seguridad de la cadena de suministro de software bajo la
    dirección de
    <a class="underline hover:decoration-2" href="https://badhomb.re/"
      >Santiago Torres-Arias</a
    > y, en un momento dado, fui presidente de
    <a
      class="underline hover:decoration-2"
      href="https://engineering.purdue.edu/AMP/"
      >Autonomous Motorsports Purdue</a
    >.
  </p><p>
    Antes de regresar al mundo académico, trabajé como ingeniero de software en
    <a class="underline hover:decoration-2" href="https://www.keytos.io/"
      >Keytos</a
    >, una startup que ofrece varios productos de PKI como servicio
    (PKI-as-a-Service), donde desarrollé EZRADIUS, EZCMS y mantuve otros
    servicios. También realicé dos prácticas en Google durante mis estudios en
    Purdue.
  </p>
</IndexPage>
