---
import IndexPage from "../../layouts/IndexPage.astro";
import ContactEmailCispa from "../../components/ContactEmailCispa.astro";
---

<IndexPage>
  <h1 class="text-2xl font-bold">¡Buenas!</h1>
  <p>
    Soy estudiante de maestría en la Universidad del Sarre, con el apoyo del
    <a
      class="underline hover:decoration-2"
      href="https://cispa.de/en/career/excellence-program"
      >Programa de Excelencia para Estudiantes de Maestría de CISPA</a
    >, codirigido por
    <a class="underline hover:decoration-2" href="https://wouterlueks.nl/"
      >Wouter Lueks</a
    > y
    <a class="underline hover:decoration-2" href="https://ssasy.github.io/"
      >Sajin Sasy</a
    >. Planeo continuar en CISPA para obtener un doctorado.
  </p><p>
    Busco desarrollar soluciones prácticas para problemas que requieren mejores
    garantías de seguridad y privacidad.
  </p><p>
    ¡No dudes en contactarme si deseas colaborar o conectar! Puedes contactarme
    por email a <ContactEmailCispa />.
  </p>
</IndexPage>
