---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="flex flex-col min-h-screen antialiased">
    <Header />
    <main class="flex-grow m-4 sm:mx-16 lg:mx-32 sm:my-10 lg:my-20">
      <slot>
        <p>This is a WIP!</p>
      </slot>
    </main>
    <Footer />
  </body>
</html>
