---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = "/alan.jpeg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body
    class="bg-theme-background text-theme-text dark:bg-theme-dark-background dark:text-theme-dark-text dark:selection:bg-theme-dark-primary/25 selection:bg-theme-primary/25 flex min-h-screen flex-col"
  >
    <Header />
    <main class="grow px-4 py-10 md:mx-auto md:w-3xl">
      <slot />
    </main>
    <Footer />
  </body>
</html>
