---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    updatedDate?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate },
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="m-4 sm:mx-20 sm:my-10 lg:mx-44 lg:my-20">
    <div>
      Published on
      <time datetime={pubDate}>
        {
          new Date(pubDate).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </time>
    </div>
    {
      updatedDate && (
        <div>
          Last updated on
          <time datetime={updatedDate}>
            {new Date(updatedDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}
          </time>
        </div>
      )
    }
    <hr class="m-4" />
    <div class="prose lg:prose-xl">
      <slot />
    </div>
  </article>
</BaseLayout>
