---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    updatedDate?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="flex flex-col min-h-screen antialiased">
    <Header />
    <main class="flex-grow m-4 sm:mx-16 lg:mx-32 sm:my-10 lg:my-20">
      <article>
        <time datetime={pubDate}>
          {
            new Date(pubDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </time>
        {
          updatedDate && (
            <div>
              Last updated on
              <time datetime={updatedDate}>
                {new Date(updatedDate).toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
            </div>
          )
        }
        <hr class="m-4" />
        <div class="prose lg:prose-xl" >
            <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
